@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://kit-pro.fontawesome.com/releases/v6.4.2/css/pro.min.css');

body {
  background-color: #222;
  animation: none;
}

.colored-background {
  transition: background-color 1000ms linear;
  animation: colored-background linear 12s infinite;
}

@keyframes colored-background {
  0% {
    background-color: #8b1c86;
  }
  20% {
    background-color: rgb(29, 28, 121);
  }
  40% {
    background-color: rgb(48, 153, 44);
  }
  60% {
    background-color: rgb(170, 148, 51);
  }
  80% {
    background-color: rgb(168, 44, 39);
  }
  100% {
    background-color: #8b1c86;
  }
}

@keyframes transition-in {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

/* From https://codepen.io/patrickhlauke/pen/YaoBop */
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 1px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vcr-overlay {
  background: url('assets/images/retro-screen.gif');
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.begin {
  font-size: 2m;
  font-family: 'VT323', monospace;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

.flicker-text {
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.phrase-box {
  font-family: 'VT323', monospace;
  color: white;
  font-weight: bold;
  /* animation: transition-in ease-in-out 3s; */
}

@media (max-width: 300px) {
  .phrase-box {
    font-size: 1em;
  }
}

@media (min-width: 500px) {
  .phrase-box {
    font-size: 1.5em;
  }
}

@media (min-width: 700px) {
  .phrase-box {
    font-size: 2.3em;
  }
}

@media (min-width: 900px) {
  .phrase-box {
    font-size: 3em;
  }
}

img {
  width: 50%;
  animation: transition-in ease-in-out 3s;
  cursor: pointer;
}

.social-icons {
  position: fixed;
  top: 14%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.icon-button {
  animation: colored-background linear 12s infinite;
  color: white;
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.icon-button:hover {
  background-color: #666;
}

.hackclub-badge {
  margin: 0;
  bottom: 2%;
  position: absolute;
  display: flex;
  text-align: center;
  right: 47%;
}